<title>{{ title }}</title>
<main>
    <div class="header">
        <nav class="nav_1 u-height35">
            <div class="nav-content u-flex u-maxWidth1200">
                <div class="left-content u-flex1">
                </div>
                <div class="right-content">
                    <div class="phone-number menu-item">
                        <i class="fa fa-phone fa-1x"> </i>
                        {{ phoneNumber }}
                    </div>
                    <div class="vertical-separator menu-item">
                        |
                    </div>
                    <div class="language menu-item">
                        Ngôn ngữ
                        <a class="flag-language u-cursorPointer active" ng-click="changeLang('vn')">
                            <img class="flag u-height15" src="/images/vn.svg"
                                 alt="Vietnam Flag">

                        </a>
                        <a class="flag-language u-cursorPointer " ng-click="changeLang('jp')">
                            <img class="flag u-height15" src="/images/jp.svg"
                                 alt="Japan Flag">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="nav_2">
            <div class="nav-content u-flex u-maxWidth1200">
                <div class="brand-container u-flex">
                    <div class="logo u-height65 u-marginRight8">
                        <img class="u-width50 u-verticalAlignMiddle" src="/images/favicon.png">
                    </div>
                    <div class="u-flex u-flexColumnSpaceBetween u-justifyContentCenter u-height50 u-marginTop4">
                        <div class="u-flex1 u-fontSize20 u-lineHeight18 u-fontWeightBold u-flexColumn">CÔNG TY TNHH
                            KTM
                        </div>
                        <div class="brand-description u-lineHeight13 u-fontWeightThin">UY TÍN - TRÁCH NHIỆM - HIỆU QUẢ
                        </div>
                    </div>
                </div>

                <div class="menu u-flex1 u-block">
                    <ul>
                        <li class="u-marginLeft10 u-floatRight u-marginRightNegative12"
                            ng-repeat="category in categories">
                            <a href="#cate{{ category.id }}" class="menu-item">
                                {{ category.name }}
                            </a>
                        </li>
                        <li class="u-marginLeft10 u-floatRight u-marginRightNegative12">
                            <a href="/" class="menu-item active">
                                TRANG CHỦ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--body-->
    <div class="body center-align">
        <!--slider-->
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="ads/cover.jpg">
                </li>
                <li>
                    <img src="ads/cover2.jpg">
                </li>
                <li>
                    <img src="ads/cover3.jpg">
                </li>
            </ul>
        </div>

        <!--post + latest post + advertisement-->
        <div class="body-container u-maxWidth1200 u-marginAuto">
            <div class="body-content u-flex">
                <div class="content-left u-flex1">
                    <div class="u-maxWidth780">
                        <!--show: false-->
                        <div class="col s7" ng-hide="show()">
                            <table class="borderless white">
                                <tbody>
                                <tr ng-repeat="category in categories" ng-init="getSubcategories(category.id)">
                                    <td class="row">
                                        <div class="col s12">
                                            <ul class="tabs u-borderBottomGrayLight">
                                                <li class="tab"><a class="black-text category"
                                                                   href="#cate{{ category.id }}">{{ category.name }}</a></li>
                                                <li class="tab"
                                                    ng-repeat="subcategory in subcategories[category.id]"><a
                                                        class="black-text subcategory" href="#sub{{ subcategory.id }}"
                                                        ng-click="getPost(category.id, subcategory.id)">{{
                                                        subcategory.name }}</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <!--post category-->
                                            <div id="cate{{ category.id }}" class="row">
                                                <div class="col s4">
                                                    <img class="cover_img" style="width: 200px; height: 200px"
                                                         src="{{ catePosts[category.id]? catePosts[category.id].cover : '/images/no-cover.jpg' }}">
                                                </div>
                                                <div class="col s8" style="height: 12em; overflow: hidden">
                                                    <p class="pointer post-title"
                                                       ng-click="showPost(catePosts[category.id].id, catePosts[category.id].title, catePosts[category.id].id)"
                                                       href="#">{{ catePosts[category.id].title }}</p>
                                                    <p class="">{{ catePosts[category.id].content }}</p>
                                                </div>
                                            </div>
                                            <!--post subcategory-->
                                            <div id="sub{{ subcategory.id }}"
                                                 ng-repeat="subcategory in subcategories[category.id]" class="row">
                                                <div class="col s4">
                                                    <img class="cover_img" style="width: 200px; height: 200px"
                                                         src="{{ posts[subcategory.id].cover }}">
                                                </div>
                                                <div class="col s8" style="height: 12em; overflow: hidden">
                                                    <p class="pointer post-title"
                                                       ng-click="showPost(posts[subcategory.id].id, posts[subcategory.id].title, subcategory.id)"
                                                       href="#">{{ posts[subcategory.id].title }}</p>
                                                    <p>{{ posts[subcategory.id].content }}</p>
                                                </div>
                                                <div class="col s4"></div>
                                                <div class="col s8" style="padding-top: 1em">
                                                    <a class="pointer left-align blue-text" href="#"
                                                       ng-click="showSubmenu(subcategory.id, subcategory.name)">Xem
                                                        thêm {{ subcategory.name }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--show: true-->
                        <div class="col s7" ng-show="show()">
                            <table class="borderless white">
                                <tbody>
                                <tr ng-repeat="category in categories" ng-init="getSubcategories(category.id)">
                                    <td class="row">
                                        <div class="col s12">
                                            <ul class="tabs u-borderBottomGrayLight">
                                                <li class="tab"><a class="black-text category"
                                                                   href="#show{{ category.id }}"
                                                                   ng-init="getPost(category.id, 0)"
                                                                   ng-click="changeShow()">{{ category.name }}</a></li>
                                                <li class="tab"
                                                    ng-repeat="subcategory in subcategories[category.id]"><a
                                                        class="black-text subcategory" href="#sub{{subcategory.id}}"
                                                        ng-click="getPost(category.id, subcategory.id); changeShow()">{{
                                                    subcategory.name }}</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <!--post category-->
                                            <div id="show{{ category.id }}" class="row">
                                                <div class="col s4">
                                                    <img class="cover_img" style="width: 200px; height: 200px"
                                                         src="{{ catePosts[category.id]? catePosts[category.id].cover : '/images/no-cover.jpg' }}">
                                                </div>
                                                <div class="col s8" style="height: 12em; overflow: hidden">
                                                    <p class="pointer post-title"
                                                       ng-click="showPost(catePosts[category.id].id, catePosts[category.id].title, catePosts[category.id].id)"
                                                       href="#">{{ catePosts[category.id].title }}</p>
                                                    <p>{{ catePosts[category.id].content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="content-right u-width320">
                    <!--latest post + advertisement-->
                    <!--latest post-->
                    <div class="news-container">
                        <div style="background-color: #e8eaf6">
                            <div style="height: 10px; background-color: #3f51b5"></div>
                            <div class="black-text">
                                <h6 class="u-fontWeightBold u-fontSize16">TIN MỚI CẬP NHẬT</h6>
                                <hr style="width: 200px">
                                <table class="borderless" style="background-color: #e8eaf6">
                                    <tbody>
                                    <tr ng-repeat="latestPost in latestPosts">
                                        <th class="u-fontSize36 u-textAlignCenter" style="color: #3f51b5">0{{
                                            $index +
                                            1}}
                                        </th>
                                        <th>
                                            <div class="u-fontSize16">{{ latestPost.title }}</div>
                                            <div class="u-textColorDark u-fontWeightThin">{{
                                                latestPost.updated_at }}
                                            </div>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--advertisement-->
                    <div class="info-container u-marginTop50">
                        <div>
                            <div style="height: 10px; background-color: red">
                            </div>
                            <div class="black-text">
                                <h6 class="u-fontWeightBold u-fontSize16">HỖ TRỢ TRỰC TUYẾN</h6>
                                <hr style="width: 200px">
                                <h5 style="font-weight: bold">Hotline</h5>
                                <h4 style="font-weight: bold; color: red">0912345678</h4>
                                <hr style="width: 200px">
                                <table class="borderless u-maxWidth300 u-marginAuto">
                                    <tbody>
                                    <tr>
                                        <th class="u-width100 u-textAlignCenter">
                                            <i class="fa fa-user-circle fa-5x u-textColorDark"></i>
                                        </th>
                                        <th>
                                            <p class="u-fontSize16 u-marginBottom0 u-marginTop0">Hoàng Vân (Ms)</p>
                                            <p class="u-margin0 u-fontSize11 u-fontWeightThin">0123456789</p>
                                            <p class="u-margin0 u-fontSize11 u-fontWeightThin">hoangvan@gmail.com</p>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--footer-->
    <footer class="u-marginTop50">
        <div class="footer-content u-flex u-padding20 u-paddingBottom2 u-maxWidth1200 u-marginAuto u-textColorWhite">
            <div class="left-content u-flex1 u-fontSize14">
                Trường Trung cấp Kinh tế - Tài nguyên và Môi trường
                <br>
                CÔNG TY TRÁCH NHIỆM HỮU HẠN KTM
                <br>
                <br>
                Địa chỉ: nhà E, trường Đại học Sân khấu - Điện ảnh, Mai Dịch, Cầu Giấy, Hà Nội
                <br>
                Điện thoại: {{ phoneNumber }} | Email: congtyktm@gmail.com | Website:
                <a class="link u-textColorWhite" href="http://www.ktmgroup.com.vn"
                   target="_blank">www.ktmgroup.com.vn</a>
                <br>
                <br>
                GIẤY PHÉP HOẠT ĐỘNG DỊCH VỤ ĐƯA NGƯỜI LAO ĐỘNG ĐI LÀM VIỆC Ở NƯỚC NGOÀI SỐ 393/LĐTBXH-GP
                <br>
                GIẤY CHỨNG NHẬN HOẠT ĐỘNG DỊCH VỤ TƯ VẤN DU HỌC SỐ 5710/CN-SGD&ĐT
            </div>
            <div class="u-width300">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcongtyktm&tabs=message&width=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="300" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </footer>
</main>