<title>{{ info.company_name }}</title>
<main>
    <div class="header" ng-if="!isMobile">
        <nav class="nav_1 u-height35">
            <div class="nav-content u-flex u-maxWidth1200">
                <div class="left-content u-flex1">
                </div>
                <div class="right-content">
                    <div class="phone-number u-inline">
                        <i class="fa fa-phone fa-1x"> </i>
                        {{ info.phone_number }}
                    </div>
                    <div class="vertical-separator u-inline">
                        |
                    </div>
                    <div class="language u-inline">
                        <a ng-if="lang == 'vn'">Ngôn ngữ</a>
                        <a ng-if="lang == 'jp'">言語</a>
                        <a class="flag-language u-cursorPointer"
                           ng-class="lang !== 'jp' ? 'active' : ''"
                           ng-click="changeLang('vn')">
                            <img class="flag u-height15" src="/images/vn.svg"
                                 alt="Vietnam Flag">

                        </a>
                        <a class="flag-language u-cursorPointer"
                           ng-class="lang === 'jp' ? 'active' : ''"
                           ng-click="changeLang('jp')">
                            <img class="flag u-height15" src="/images/jp.svg"
                                 alt="Japan Flag">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="nav_2 u-height65">
            <div class="nav-content u-flex u-maxWidth1200">
                <div class="brand-container u-flex">
                    <div class="logo u-height65 u-marginRight8">
                        <img class="u-width50 u-verticalAlignMiddle u-xs-hide" ng-src="{{ info.logo_url }}">
                    </div>
                    <div class="u-flex u-flexColumnSpaceBetween u-justifyContentCenter u-height50 u-marginTop4">
                        <div class="u-flex1 u-fontSize20 u-xs-fontSize12 u-lineHeight18 u-fontWeightBold u-flexColumn">
                            {{
                            info.company_name }}
                        </div>
                        <div class="brand-description u-lineHeight13 u-fontWeightThin">{{ info.company_slogan }}
                        </div>
                    </div>
                </div>

                <div class="menu u-flex1 u-block u-flex">
                    <div class="u-flex1"></div>
                    <ul>
                        <li class="">
                            <a href="/" class="menu-item" ng-if="lang == 'vn'">
                                TRANG CHỦ
                            </a>
                            <a href="/" class="menu-item" ng-if="lang == 'jp'">
                                ホーム
                            </a>
                        </li>
                        <li class=""
                            ng-repeat="category in categories">
                            <a href="topic/{{ category.slug }}" class="menu-item">
                                {{ category.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="header" ng-if="isMobile">
        <nav class="nav_1 u-height35">
            <div class="nav-content u-flex u-paddingRight10">
                <div class="left-content u-flex1">
                </div>
                <div class="right-content">
                    <div class="phone-number u-inline">
                        <i class="fa fa-phone fa-1x"> </i>
                        {{ info.phone_number }}
                    </div>
                    <div class="vertical-separator u-inline u-marginLeft5 u-marginRight5 u-textColorLightHover">
                        |
                    </div>
                    <div class="language u-inline">
                        <a ng-if="lang == 'vn'">Ngôn ngữ</a>
                        <a ng-if="lang == 'jp'">言語</a>
                        <a class="flag-language u-cursorPointer"
                           ng-class="lang !== 'jp' ? 'active' : ''"
                           ng-click="changeLang('vn')">
                            <img class="flag u-height15" src="/images/vn.svg"
                                 alt="Vietnam Flag">

                        </a>
                        <a class="flag-language u-cursorPointer"
                           ng-class="lang === 'jp' ? 'active' : ''"
                           ng-click="changeLang('jp')">
                            <img class="flag u-height15" src="/images/jp.svg"
                                 alt="Japan Flag">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="nav_2 u-height50">
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="fa fa-bars"></i>
            </a>
            <div class="nav-content u-flex u-xs-marginRight10">
                <div class="left-content u-flex1">
                    <div class="u-fontSize12 u-fontWeightBold">
                        {{ info.company_name }}
                    </div>
                </div>
            </div>

        </nav>
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="u-width300">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcongtyktm&tabs=message&width=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="300" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </li>
            <li class="">
                <a href="/" class="sidenav-close" ng-if="lang == 'vn'">
                    TRANG CHỦ
                </a>
                <a href="/" class="sidenav-close" ng-if="lang == 'jp'">
                    ホーム
                </a>
            </li>
            <li class=""
                ng-repeat="category in categories">
                <a href="topic/{{ category.slug }}" class="sidenav-close">
                    {{ category.name }}
                </a>
            </li>
        </ul>
    </div>

    <!--body-->
    <div class="body">
        <!--slider-->
        <div class="slider">
            <ul class="slides">
                <li ng-repeat="ads in advertisement">
                    <img ng-src="{{ ads.url }}">
                </li>
            </ul>
        </div>

        <!--post + latest post + advertisement-->
        <div class="body-container u-maxWidth1040 u-marginAuto" ng-if="!isMobile">
            <div class="body-content u-flex">
                <div class="content-left u-flex1 home u-xs-hide">
                    <div class="u-maxWidth700">
                        <div class="u-marginBottom60"
                             ng-repeat="category in data"
                             ng-if="category.new_post !== null">
                            <ul class="tabs u-borderBottomGrayLight">
                                <li class="tab">
                                    <a class="active u-textAlignLeft u-fontSize16 u-xs-fontSize14 u-padding0 u-textColorDarker u-fontWeightBold"
                                       href="#{{ category.slug }}">
                                        {{ category.name }}
                                    </a>
                                </li>
                                <li class="tab"
                                    ng-repeat="subCategory in category.subs"
                                    ng-if="subCategory.new_post !== null">
                                    <a class="u-padding0 u-marginRight15 u-textColorDarker u-fontSize14 u-xs-fontSize12"
                                       href="#{{ category.slug + '-' + subCategory.slug }}">{{ subCategory.name }}</a>
                                </li>
                            </ul>
                            <div id="{{ category.slug }}" class="u-maxSizeFullWidth">
                                <div class="u-flex u-marginTop15">
                                    <div class="post-cover u-flex0 u-xs-hide"
                                         ng-style="{'background-image': 'url(' + '{{ category.new_post.cover }}' + ')'}">
                                    </div>
                                    <div class="u-flex1 u-marginLeft20 u-xs-marginLeft0">
                                        <div class="u-cursorPointer"
                                             ng-click="showPost(category.new_post.slug)">
                                            <div class="u-fontSize14 u-fontWeightBold u-marginTop0">
                                                {{ category.new_post.title }}
                                            </div>
                                            <div class="u-fontSize14 u-fontWeightThin u-marginTop4">
                                                {{ truncateContent(category.new_post.content) }}
                                            </div>
                                        </div>
                                        <div class="u-marginTop5" ng-if="category.posts.length > 0">
                                            <div ng-repeat="post in category.posts">
                                                <a href="/post/{{ post.slug }}"
                                                   class="u-fontSize12 u-textColorDark u-textUnderline">
                                                    {{ post.title }}
                                                </a>
                                            </div>
                                            <a class="u-fontSize12 u-marginTop20 u-textColorDark u-textUnderline"
                                               href="/topic/{{ category.slug }}" ng-if="lang == 'vn'">
                                                Xem thêm {{ category.name }}
                                            </a>
                                            <a class="u-fontSize14 u-marginTop20 u-textColorDark"
                                               href="/topic/{{ category.slug }}" ng-if="lang == 'jp'">
                                                <i class="fa fa-arrow-circle-right"></i>
                                                もっと見る
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="subCategory in category.subs"
                                 ng-if="subCategory.new_post !== null"
                                 id="{{ category.slug + '-' + subCategory.slug }}"
                                 class="u-sizeFullWidth">
                                <div class="u-flex u-marginTop15">
                                    <div class="post-cover u-flex0"
                                         ng-style="{'background-image': 'url(' + '{{ subCategory.new_post.cover }}' + ')'}">
                                    </div>

                                    <div class="u-flex1 u-marginLeft20">
                                        <div class="u-cursorPointer"
                                             ng-click="showPost(subCategory.new_post.slug)">
                                            <div class="u-fontSize14 u-fontWeightBold u-marginTop0">
                                                {{ subCategory.new_post.title }}
                                            </div>
                                            <div class="u-fontSize14 u-fontWeightThin u-marginTop4">
                                                {{ truncateContent(subCategory.new_post.content) }}
                                            </div>
                                        </div>
                                        <div class="u-marginTop5" ng-if="subCategory.posts.length > 0">
                                            <div ng-repeat="post in subCategory.posts">
                                                <a href="/post/{{ post.slug }}"
                                                   class="u-fontSize12 u-textColorDark u-textUnderline">
                                                    {{ post.title }}
                                                </a>
                                            </div>
                                            <a class="u-fontSize12 u-marginTop20 u-textColorDark u-textUnderline"
                                               href="/topic/{{ category.slug }}" ng-if="lang == 'vn'">
                                                Xem thêm {{ subCategory.name }}
                                            </a>
                                            <a class="u-fontSize14 u-marginTop20 u-textColorDark"
                                               href="/topic/{{ category.slug }}" ng-if="lang == 'jp'">
                                                <i class="fa fa-arrow-circle-right"></i>
                                                もっと見る
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="content-right u-width300 u-xs-hide">
                    <!--latest post + advertisement-->
                    <!--latest post-->
                    <div class="news-container">
                        <div style="background-color: #e8eaf6">
                            <div style="height: 10px; background-color: #3f51b5"></div>
                            <div class="black-text">
                                <h6 class="u-fontWeightBold u-fontSize14 u-textAlignCenter" ng-if="lang == 'vn'">TIN
                                    MỚI
                                    CẬP NHẬT</h6>
                                <h6 class="u-fontWeightBold u-fontSize14 u-textAlignCenter" ng-if="lang == 'jp'">
                                    ニュースの更新</h6>
                                <hr style="width: 200px" class="u-marginBottom0">
                                <table class="borderless" style="background-color: #e8eaf6">
                                    <tbody>
                                    <tr ng-repeat="latestPost in latestPosts">
                                        <th class="u-fontSize40 u-textAlignRight u-padding10" style="color: #3f51b5">0{{
                                            $index +
                                            1}}
                                        </th>
                                        <th class="u-padding10">
                                            <a class="u-fontSize14 u-uiTextMedium u-textColorDarker"
                                               href="/post/{{ latestPost.slug }}">
                                                {{ latestPost.title }}
                                            </a>
                                            <div class="u-textColorDarker u-fontWeightThin">
                                                <i class="fa fa-calendar-alt u-marginRight5"></i>
                                                {{ latestPost.published_date }}
                                            </div>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--advertisement-->
                    <div class="info-container u-marginTop50">
                        <div>
                            <div style="height: 10px; background-color: red">
                            </div>
                            <div class="black-text">
                                <div class="u-fontWeightBold u-fontSize16 u-textAlignCenter u-marginTop10"
                                     ng-if="lang == 'vn'">HỖ
                                    TRỢ
                                    TRỰC TUYẾN
                                </div>
                                <div class="u-fontWeightBold u-fontSize16 u-textAlignCenter" ng-if="lang == 'jp'">
                                    オンラインサポート
                                </div>
                                <hr style="width: 200px">
                                <div class="u-textAlignCenter u-fontWeightBold u-fontSize14">Hotline</div>
                                <div class="u-textAlignCenter u-fontWeightBold u-fontSize28 u-textColor--brandRose">
                                    {{ info.hotline }}
                                </div>
                                <hr style="width: 200px">
                                <table class="borderless u-maxWidth300 u-marginAuto">
                                    <tbody>
                                    <tr>
                                        <th class="u-width100 u-textAlignCenter">
                                            <i class="fa fa-user-circle fa-5x u-textColorDark"></i>
                                        </th>
                                        <th>
                                            <p class="u-fontSize16 u-marginBottom0 u-marginTop0">{{
                                                info.supporter_name
                                                }}</p>
                                            <p class="u-margin0 u-fontSize11 u-fontWeightThin">{{
                                                info.supporter_phone_number }}</p>
                                            <p class="u-margin0 u-fontSize11 u-fontWeightThin">{{
                                                info.supporter_email
                                                }}</p>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="" ng-if="isMobile">
            <div class="u-marginBottom50"
                 ng-repeat="category in data"
                 ng-if="category.new_post !== null">
                <div class="carousel carousel-slider">
                    <div class="carousel-fixed-item center">
                        <a class="btn waves-effect white u-textColorDarker"
                           href="/topic/{{ category.slug }}">
                            {{lang === 'vn' ? 'Xem thêm ' + category.name : category.name + 'をもっと見る' }}
                        </a>
                    </div>
                    <div class="carousel-item" href="#{{ category.slug }}">
                        <div class="post-cover"
                             ng-style="{'background-image': 'url(' + '{{ category.new_post.cover }}' + ')'}">
                        </div>
                        <div class="content u-padding10 u-absolute u-top0 u-left0">
                            <div class="u-top0 u-fontSize14 u-fontWeightBold u-borderBottomGrayLight u-marginBottom15">
                                {{ category.name }}
                            </div>

                            <div class="u-cursorPointer post"
                                 ng-click="showPost(category.new_post.slug)">
                                <div class="u-fontSize14 u-fontWeightBold u-marginTop0 u-textAlignLeft">
                                    {{ category.new_post.title }}
                                </div>
                                <div class="post-content u-fontSize13 u-fontWeightThin u-marginTop5">
                                    {{ category.new_post.content }}
                                </div>
                            </div>
                            <div class="u-marginTop20" ng-if="category.posts.length > 0">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item"
                         ng-repeat="subCategory in category.subs"
                         ng-if="subCategory.new_post !== null"
                         href="#{{ subCategory.slug }}">
                        <div class="post-cover"
                             ng-style="{'background-image': 'url(' + '{{ subCategory.new_post.cover }}' + ')'}">
                        </div>
                        <div class="content u-padding10 u-absolute u-top0 u-left0">
                            <div class="u-top0 u-fontSize14 u-fontWeightBold u-borderBottomGrayLight u-marginBottom15">
                                {{ subCategory.name }}
                            </div>

                            <div class="u-cursorPointer post"
                                 ng-click="showPost(subCategory.new_post.slug)">
                                <div class="u-fontSize14 u-fontWeightBold u-marginTop0 u-textAlignLeft">
                                    {{ subCategory.new_post.title }}
                                </div>
                                <div class="post-content u-fontSize12 u-fontWeightThin u-marginTop5">
                                    {{ subCategory.new_post.content }}
                                </div>
                            </div>
                            <div class="u-marginTop20" ng-if="subCategory.posts.length > 0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--footer-->
    <footer class="u-marginTop50 u-xs-marginTop0">
        <div class="footer-content u-textColorWhite">
            <div class="u-maxWidth1200 u-minHeight250 u-marginAuto u-padding20 u-xs-padding5 u-paddingBottom2 u-xs-sizeFullWidth u-block">
                <div class="left-content u-fontSize12 u-xs-fontSize12 u-width530 u-inlineBlock u-xs-sizeFullWidth"
                     ng-bind-html="info.footer">
                </div>
                <div class="u-width180 u-inlineBlock u-marginLeft50 u-verticalAlignTop" ng-if="!isMobile">
                    <ul>
                        <li class="u-marginBottom5">
                            <a href="/" class="u-textColorWhite" ng-if="lang == 'vn'">
                                TRANG CHỦ
                            </a>
                            <a href="/" class="u-textColorWhite" ng-if="lang == 'jp'">
                                ホーム
                            </a>
                        </li>
                        <li class="u-marginBottom5"
                            ng-repeat="category in categories">
                            <a href="topic/{{ category.slug }}" class="u-textColorWhite">
                                {{ category.name }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="u-width340 u-inlineBlock u-floatRight" ng-if="!isMobile">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcongtyktm&tabs=message&width=340&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="340" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </footer>
</main>
