<title>{{ post.title }}</title>
<main>
    <div class="header">
        <nav class="nav_1 u-height35">
            <div class="nav-content u-flex u-maxWidth1200">
                <div class="left-content u-flex1">
                </div>
                <div class="right-content">
                    <div class="phone-number menu-item">
                        <i class="fa fa-phone fa-1x"> </i>
                        {{ phoneNumber }}
                    </div>
                    <div class="vertical-separator menu-item">
                        |
                    </div>
                    <div class="language menu-item">
                        <a ng-if="lang == 'vn'">Ngôn ngữ</a>
                        <a ng-if="lang == 'jp'">言語</a>
                        <a class="flag-language u-cursorPointer"
                           ng-class="lang !== 'jp' ? 'active' : ''"
                           ng-click="changeLang('vn')">
                            <img class="flag u-height15" src="/images/vn.svg"
                                 alt="Vietnam Flag">

                        </a>
                        <a class="flag-language u-cursorPointer"
                           ng-class="lang === 'jp' ? 'active' : ''"
                           ng-click="changeLang('jp')">
                            <img class="flag u-height15" src="/images/jp.svg"
                                 alt="Japan Flag">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="nav_2">
            <div class="nav-content u-flex u-maxWidth1200">
                <div class="brand-container u-flex">
                    <div class="logo u-height65 u-marginRight8">
                        <img class="u-width50 u-verticalAlignMiddle" src="{{ info.logo_url }}">
                    </div>
                    <div class="u-flex u-flexColumnSpaceBetween u-justifyContentCenter u-height50 u-marginTop4">
                        <div class="u-flex1 u-fontSize20 u-lineHeight18 u-fontWeightBold u-flexColumn">{{ info.company_name }}
                        </div>
                        <div class="brand-description u-lineHeight13 u-fontWeightThin">{{ info.company_slogan }}
                        </div>
                    </div>
                </div>

                <div class="menu u-flex1 u-block">
                    <ul>
                        <li class="u-marginLeft10 u-floatRight u-marginRightNegative12"
                            ng-repeat="category in categories">
                            <a href="topic/{{ category.slug }}" class="menu-item">
                                {{ category.name }}
                            </a>
                        </li>
                        <li class="u-marginLeft10 u-floatRight u-marginRightNegative12">
                            <a href="/" class="menu-item">
                                TRANG CHỦ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--body-->
    <div class="body center-align">
        <!--slider-->
        <div class="slider">
            <ul class="slides">
                <li ng-repeat="ads in advertisement">
                    <img ng-src="{{ ads.url }}">
                </li>
            </ul>
        </div>

        <!--post + latest post + advertisement-->
        <div class="body-container u-maxWidth1200 u-marginAuto">
            <div class="body-content u-flex">
                <div class="content-left u-flex1">
                    <div class="u-maxWidth780">
                        <!--post-->
                        <!--<nav style="height: 50px; padding-top: 0; background-color: white; box-shadow: none">-->
                        <!--<div class="nav-wrapper">-->
                        <!--<div class="left-align">-->
                        <!--<a class="breadcrumb black-text" style="font-weight: bold; cursor: pointer" ui-sref="home" ui-sref-active="">{{ breadcrumbs.cate[0].name }}</a>-->
                        <!--<a class="breadcrumb grey-text" ng-click="showSubmenu(breadcrumbs.id_sub, breadcrumbs.subcate[0].name)" style="cursor: pointer">{{ breadcrumbs.subcate[0].name }}</a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</nav>-->
                        <div class="u-marginTop30px u-textAlignLeft">
                            <div class="u-fontSize28 u-fontWeightBold u-textColorDark">{{ post.title }}</div>
                            <div class="u-marginBottom30 u-marginTop8">
                                <p class="u-textColorDark u-fontSize12 u-marginTop0">
                                    <i class="fa fa-calendar-alt u-marginRight5"></i>
                                    {{ post.published_date }}
                                </p>
                            </div>
                            <!--<img src="{{ post.cover }}" class="post-cover">-->
                            <div class="post-content" ng-bind-html="post.content"></div>
                        </div>
                    </div>
                </div>


                <div class="content-right u-width320">
                    <!--latest post + advertisement-->
                    <!--latest post-->
                    <div class="news-container">
                        <div style="background-color: #e8eaf6">
                            <div style="height: 10px; background-color: #3f51b5"></div>
                            <div class="black-text">
                                <h6 class="u-fontWeightBold u-fontSize14 u-textAlignCenter" ng-if="lang == 'vn'">TIN MỚI CẬP NHẬT</h6>
                                <h6 class="u-fontWeightBold u-fontSize14 u-textAlignCenter" ng-if="lang == 'jp'">ニュースの更新</h6>
                                <hr style="width: 200px">
                                <table class="borderless" style="background-color: #e8eaf6">
                                    <tbody>
                                    <tr ng-repeat="latestPost in latestPosts">
                                        <th class="u-fontSize50 u-textAlignRight" style="color: #3f51b5">0{{
                                            $index +
                                            1}}
                                        </th>
                                        <th>
                                            <a class="u-fontSize14 u-uiTextMedium u-textColorDarker"
                                               href="/post/{{ latestPost.slug }}">
                                                {{ latestPost.title }}
                                            </a>
                                            <div class="u-textColorDarker u-fontWeightThin">
                                                <i class="fa fa-calendar-alt u-marginRight5"></i>
                                                {{ latestPost.published_date }}
                                            </div>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--advertisement-->
                    <div class="info-container u-marginTop50">
                        <div>
                            <div style="height: 10px; background-color: red">
                            </div>
                            <div class="black-text">
                                <div class="u-fontWeightBold u-fontSize16 u-textAlignCenter" ng-if="lang == 'vn'">HỖ TRỢ TRỰC TUYẾN</div>
                                <div class="u-fontWeightBold u-fontSize16 u-textAlignCenter" ng-if="lang == 'jp'">オンラインサポート</div>
                                <hr style="width: 200px">
                                <div class="u-textAlignCenter u-fontWeightBold u-fontSize14">Hotline</div>
                                <div class="u-textAlignCenter u-fontWeightBold u-fontSize28 u-textColor--brandRose">
                                    {{ info.hotline }}
                                </div>
                                <hr style="width: 200px">
                                <table class="borderless u-maxWidth300 u-marginAuto">
                                    <tbody>
                                    <tr>
                                        <th class="u-width100 u-textAlignCenter">
                                            <i class="fa fa-user-circle fa-5x u-textColorDark"></i>
                                        </th>
                                        <th>
                                            <p class="u-fontSize16 u-marginBottom0 u-marginTop0">{{ info.supporter_name }}</p>
                                            <p class="u-margin0 u-fontSize11 u-fontWeightThin">{{ info.supporter_phone_number }}</p>
                                            <p class="u-margin0 u-fontSize11 u-fontWeightThin">{{ info.supporter_email }}</p>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--footer-->
    <footer class="u-marginTop50">
        <div class="footer-content u-flex u-padding20 u-paddingBottom2 u-maxWidth1200 u-marginAuto u-textColorWhite">
            <div class="left-content u-flex1 u-fontSize14" ng-bind-html="info.footer">
            </div>
            <div class="u-width300">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcongtyktm&tabs=message&width=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="300" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </footer>
</main>
