body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0, 0, 0, .84);
    font-size: 14px;
    line-height: 1.4
}

header {
    height: 100px;
}

.nav_1 {
    background-color: #253d52;
    line-height: 35px;
}

.menu-item {
    display: inline !important;
    vertical-align: center;
    margin-left: 8px;
}

.flag-language {
    margin-left: 4px;
    display: inline;
    opacity: .2 !important;
}

.flag-language.active {
    opacity: 1 !important;
}

.flag-language .flag {
    margin-bottom: -3px;
}

.nav_2 {
    height: 65px;
    background-color: #355876;
}

.nav-content {
    margin: 0 auto;
}

.menu .menu-item {
    color: #c5d2e1;
}

.menu .menu-item.active {
    color: #fbffff;
}

.footer-content {
    background-color: #355876;
}

.brand-description {
    font-size: 13px !important;
}

.category {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 0 !important;
}

.subcategory {
    text-align: left;
    font-size: 14px;
}

/*li:active {*/
/*background-color: lightgrey;*/
/*}*/

.tab {
    border-bottom: solid 1px #dedede;
    text-transform: none !important;
}

.tabs .indicator {
    background-color: black;
}

.cover_img {
    margin-top: 20px;
}

.post-title {
    font-weight: bold;
    text-align: left;
}

.header-tab {
    height: 65px;
    background-color: #355876;
    border-bottom: none;
}

.header-tab .indicator {
    background-color: lightgrey;
}

.info-container {
    background-color: #fce4ec;
}
