body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0, 0, 0, .84);
    font-size: 14px;
    line-height: 1.4;
}

header {
    height: 100px;
}

.nav_1 {
    background-color: #253d52;
    line-height: 35px;
}

.flag-language {
    margin-left: 4px;
    display: inline;
    opacity: .2 !important;
}

.flag-language.active {
    opacity: 1 !important;
}

.flag-language .flag {
    margin-bottom: -3px;
}

.nav_2 {
    background-color: #355876;
}

.nav-content {
    margin: 0 auto;
}

.menu .menu-item {
    color: #c5d2e1;
    padding: 0 10px !important;
}

.menu .menu-item.active {
    color: #fbffff;
}

.footer-content {
    background-color: #355876;
}

.slider ul.indicators {
    bottom: 50px !important;
    opacity: 0.6;
    z-index: 500;
}

.sidenav {
    z-index: 1000;
}

.carousel-item .post .post-content {
    text-align: justify !important;
}

.carousel-item .post-cover {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
}

.carousel-fixed-item {
    position: absolute;
    bottom: 50px !important;
}

.carousel {
    height: 300px !important;
}

.carousel .indicator {
    background-color: black !important;
}

.brand-description {
    font-size: 13px !important;
}

.category {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 0 !important;
}

.subcategory {
    text-align: left;
    font-size: 14px;
}

/*li:active {*/
/*background-color: lightgrey;*/
/*}*/

.tab {
    text-transform: none !important;
}

.tabs .indicator {
    background-color: black;
}

.home .post-cover {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.post-title {
    font-weight: bold;
    text-align: left;
}

.header-tab {
    height: 65px;
    background-color: #355876;
    border-bottom: none;
}

.header-tab .indicator {
    background-color: lightgrey;
}

.info-container {
    background-color: #fce4ec;
}

.breadcrumb:before {
    color: grey;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    color: #355876;
    text-align: left;
}

/*.post-cover {*/
/*width: 500px;*/
/*height: auto;*/
/*padding-bottom: 10px;*/
/*}*/
